In [1]:
import pandas as pd

In [2]:
# CRIANDO DATAFRAME
fruits_dataframe = pd.DataFrame({'Apples': [30], 'Bananas':[21]})

In [4]:
fruits_dataframe

   Apples  Bananas
0      30       21

In [6]:
fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index=['2017 Sales', '2018 Sales'])

In [7]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
# Criando Series
ingredients = pd.Series([
    '4 cups',
    '1 cup',
    '2 large',
    '1 can'
], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

In [9]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object